In [1]:
import pandas as pd
import os

# --- Configuration: UPDATE THESE PATHS AND COLUMN NAMES ---
# 1. Replace 'your_simple_data.csv' with the actual filename of your simpler excel file
#    (the one with SAMPLE_ID in Column A).
simple_data_file = "C:/Users/Admin/Desktop/Combined_Document_With_Filenames.csv"

# 2. Replace 'metadata.csv' with the actual filename of your metadata file.
metadata_file = "C:/Users/Admin/Desktop/metadata.cart.2025-06-09.csv"

# 3. Replace 'SAMPLE_ID_COLUMN_IN_SIMPLE_DATA' with the actual column name for SAMPLE_ID in your 'simple_data_file'.
#    (e.g., if Column A is named 'Sample_ID', use 'Sample_ID')
sample_id_col_simple_data = 'SAMPLE_ID' # Example: 'SAMPLE_ID' or 'Column A'

# 4. Replace 'SAMPLE_ID_COLUMN_IN_METADATA' with the actual column name for Column C in your 'metadata_file'.
#    (e.g., if Column C is named 'sample_id', use 'sample_id')
sample_id_col_metadata = 'associated_entities/0/entity_submitter_id' # Example: 'sample_id' or 'C'

# 5. Replace 'FILE_NAME_PATH_COLUMN_IN_METADATA' with the actual column name for Column G in your 'metadata_file'.
#    (e.g., if Column G is named 'file_path_gdc', use 'file_path_gdc')
file_name_path_col_metadata = 'file_name' # Example: 'file_path_gdc' or 'G'

# 6. Define the suffix to remove from the file path to get the desired 'File_name'.
file_suffix_to_remove = '.rna_seq.augmented_star_gene_counts.tsv'

# 7. Define the name for the output file
output_file_name = 'enriched_simple_data.csv'

# --- Load Data ---
try:
    df_simple = pd.read_csv(simple_data_file)
    print(f"Loaded '{simple_data_file}' successfully.")
    print("\n--- Preview of your simple data ---")
    print(df_simple.head())
    print("\n--- Info for your simple data ---")
    df_simple.info()
    print("-" * 30)

    df_metadata = pd.read_csv(metadata_file)
    print(f"\nLoaded '{metadata_file}' successfully.")
    print("\n--- Preview of metadata ---")
    print(df_metadata.head())
    print("\n--- Info for metadata ---")
    df_metadata.info()
    print("-" * 30)

except FileNotFoundError as e:
    print(f"Error: One of the specified files was not found. Please check filenames and paths. {e}")
    exit()
except Exception as e:
    print(f"An error occurred during file loading: {e}")
    exit()

# --- Data Processing ---

# 1. Extract 'File_name' from metadata
if file_name_path_col_metadata in df_metadata.columns:
    df_metadata['File_name'] = df_metadata[file_name_path_col_metadata].astype(str).apply(
        lambda x: x.replace(file_suffix_to_remove, '') if file_suffix_to_remove in x else x
    )
    print(f"\nSuccessfully extracted 'File_name' from '{file_name_path_col_metadata}' column.")
else:
    print(f"\nError: Column '{file_name_path_col_metadata}' not found in metadata file. Please check your configuration.")
    exit()

# Select only relevant columns from metadata for merging
df_metadata_for_merge = df_metadata[[sample_id_col_metadata, 'File_name']].copy()

# 2. Merge the dataframes
if sample_id_col_simple_data in df_simple.columns and sample_id_col_metadata in df_metadata_for_merge.columns:
    # Rename metadata's sample ID column to match simple data's for direct merge
    df_metadata_for_merge.rename(columns={sample_id_col_metadata: sample_id_col_simple_data}, inplace=True)

    merged_df = pd.merge(
        df_simple,
        df_metadata_for_merge,
        on=sample_id_col_simple_data,
        how='left' # Use 'left' merge to keep all rows from your simple data
    )
    print("\nDataframes merged successfully.")
else:
    print(f"\nError: Missing sample ID column in one of the dataframes. Please check '{sample_id_col_simple_data}' and '{sample_id_col_metadata}'.")
    exit()

# --- Save Results ---
try:
    merged_df.to_csv(output_file_name, index=False)
    print(f"\nSuccessfully saved the enriched data to '{output_file_name}'")
    print("\n--- Preview of the enriched data ---")
    print(merged_df.head())
    print(f"\nOutput file saved to: {os.path.abspath(output_file_name)}")
except Exception as e:
    print(f"Error saving the output file: {e}")

Loaded 'C:/Users/Admin/Desktop/Combined_Document_With_Filenames.csv' successfully.

--- Preview of your simple data ---
         SAMPLE_ID  Unnamed: 1    PATIENT_ID  Unnamed: 3 Subtype  AR_score  \
0  TCGA-HC-7818-01         NaN  TCGA-HC-7818         NaN   1-ERG      1.04
1  TCGA-HC-7077-01         NaN  TCGA-HC-7077         NaN   1-ERG     -2.72
2  TCGA-G9-6356-01         NaN  TCGA-G9-6356         NaN   1-ERG    -10.25
3  TCGA-HC-7213-01         NaN  TCGA-HC-7213         NaN   1-ERG     -4.25
4  TCGA-KK-A6E1-01         NaN  TCGA-KK-A6E1         NaN   1-ERG     -1.27

   associated_entities/0/case_id  File_name
0                            NaN        NaN
1                            NaN        NaN
2                            NaN        NaN
3                            NaN        NaN
4                            NaN        NaN

--- Info for your simple data ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   SAMPLE_ID                      333 non-null    object
 1   Unnamed: 1                     0 non-null      float64
 2   PATIENT_ID                     333 non-null    object
 3   Unnamed: 3                     0 non-null      float64
 4   Subtype                        333 non-null    object
 5   AR_score                       333 non-null    float64
 6   associated_entities/0/case_id  0 non-null      float64
 7   File_name                      0 non-null      float64
dtypes: float64(5), object(3)
memory usage: 20.9+ KB
------------------------------

Loaded 'C:/Users/Admin/Desktop/metadata.cart.2025-06-09.csv' successfully.

--- Preview of metadata ---
  data_format access associated_entities/0/entity_submitter_id  \
0         TSV   open              TCGA-KK-A7AU-01A-11R-A32O-07
1         TSV   open              TCGA-VN-A88M-01A-11R-A352-07
2         TSV   open              TCGA-KC-A4BR-01A-32R-A32Y-07
3         TSV   open              TCGA-KC-A7FA-01A-21R-A33R-07
4         TSV   open              TCGA-HC-A6HY-01A-11R-A31N-07

  associated_entities/0/entity_type         associated_entities/0/case_id  \
0                           aliquot  39303e7c-5baf-479d-a112-d8f03a18c621
1                           aliquot  35243518-b086-4d76-a336-8c61a14f9ded
2                           aliquot  3e71fa1c-855c-475a-9dd0-a314a3ecd48d
3                           aliquot  3f3128c9-1072-443c-b6ae-8b63166fa9a4
4                           aliquot  3d6abc44-d094-4250-8dfc-347ae9c741f2

        associated_entities/0/entity_id  \
0  eb344d08-f396-47b1-b832-dc0eb5d4abfb
1  aa86654d-003d-4190-b2bc-f4b40f77474f
2  47c88c6e-4f26-46bc-8198-06c211f64e00
3  81ee8dcb-89dd-462e-b5de-2394bc6d522b
4  027f330a-6206-4fd4-8790-8bb5e0207bc1

                                           file_name  \
0  9b40159c-36fb-460b-b944-6eb2fe8a39a7.rna_seq.a...
1  77599d7a-d21b-40c9-94cf-7000b521db1a.rna_seq.a...
2  6606bb36-b6fa-43a5-ba78-0ad163047db7.rna_seq.a...
3  1a861cd2-321b-431d-838c-18d0b17b2193.rna_seq.a...
4  23c50b39-0b88-4ad3-800b-8d388edb76b6.rna_seq.a...

                           submitter_id            data_category  \
0  81a3b6b4-9171-4178-8f20-5476bd0eb258  Transcriptome Profiling
1  b915ff2f-cfbd-4cd3-ad5e-e8d31a41827c  Transcriptome Profiling
2  9810c3af-3f7d-4115-a2da-696596cff053  Transcriptome Profiling
3  3d77ad18-85af-40fa-994e-4dee98fda579  Transcriptome Profiling
4  03e5034c-ec77-4ef1-8a30-cf6ed5b98b29  Transcriptome Profiling

                  analysis/workflow_version  ... annotations/1/entity_id  \
0  5d8c131bbff59fb0c969217fc1d44e6d1503cd1f  ...                     NaN
1  5d8c131bbff59fb0c969217fc1d44e6d1503cd1f  ...                     NaN
2  5d8c131bbff59fb0c969217fc1d44e6d1503cd1f  ...                     NaN
3  5d8c131bbff59fb0c969217fc1d44e6d1503cd1f  ...                     NaN
4  5d8c131bbff59fb0c969217fc1d44e6d1503cd1f  ...                     NaN

   annotations/1/created_datetime  annotations/1/annotation_id  \
0                             NaN                          NaN
1                             NaN                          NaN
2                             NaN                          NaN
3                             NaN                          NaN
4                             NaN                          NaN

  annotations/1/entity_type annotations/1/updated_datetime  \
0                       NaN                            NaN
1                       NaN                            NaN
2                       NaN                            NaN
3                       NaN                            NaN
4                       NaN                            NaN

  annotations/1/case_id  annotations/1/state  annotations/1/category  \
0                   NaN                  NaN                     NaN
1                   NaN                  NaN                     NaN
2                   NaN                  NaN                     NaN
3                   NaN                  NaN                     NaN
4                   NaN                  NaN                     NaN

  annotations/1/status annotations/1/case_submitter_id
0                  NaN                             NaN
1                  NaN                             NaN
2                  NaN                             NaN
3                  NaN                             NaN
4                  NaN                             NaN

[5 rows x 75 columns]

--- Info for metadata ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554 entries, 0 to 553
Data columns (total 75 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   data_format                                         554 non-null    object
 1   access                                              554 non-null    object
 2   associated_entities/0/entity_submitter_id           554 non-null    object
 3   associated_entities/0/entity_type                   554 non-null    object
 4   associated_entities/0/case_id                       554 non-null    object
 5   associated_entities/0/entity_id                     554 non-null    object
 6   file_name                                           554 non-null    object
 7   submitter_id                                        554 non-null    object
 8   data_category                                       554 non-null    object
 9   analysis/workflow_version                           554 non-null    object
 10  analysis/input_files/0/data_format                  554 non-null    object
 11  analysis/input_files/0/proportion_reads_mapped      554 non-null    float64
 12  analysis/input_files/0/total_reads                  554 non-null    int64
 13  analysis/input_files/0/access                       554 non-null    object
 14  analysis/input_files/0/file_name                    554 non-null    object
 15  analysis/input_files/0/wgs_coverage                 554 non-null    object
 16  analysis/input_files/0/proportion_base_mismatch     554 non-null    float64
 17  analysis/input_files/0/proportion_reads_duplicated  554 non-null    int64
 18  analysis/input_files/0/submitter_id                 554 non-null    object
 19  analysis/input_files/0/data_category                554 non-null    object
 20  analysis/input_files/0/platform                     554 non-null    object
 21  analysis/input_files/0/file_size                    554 non-null    int64
 22  analysis/input_files/0/created_datetime             554 non-null    object
 23  analysis/input_files/0/average_base_quality         554 non-null    int64
 24  analysis/input_files/0/md5sum                       554 non-null    object
 25  analysis/input_files/0/updated_datetime             554 non-null    object
 26  analysis/input_files/0/file_id                      554 non-null    object
 27  analysis/input_files/0/pairs_on_diff_chr            554 non-null    int64
 28  analysis/input_files/0/data_type                    554 non-null    object
 29  analysis/input_files/0/average_insert_size          554 non-null    int64
 30  analysis/input_files/0/average_read_length          554 non-null    int64
 31  analysis/input_files/0/state                        554 non-null    object
 32  analysis/input_files/0/experimental_strategy        554 non-null    object
 33  analysis/updated_datetime                           554 non-null    object
 34  analysis/workflow_link                              554 non-null    object
 35  analysis/submitter_id                               554 non-null    object
 36  analysis/state                                      554 non-null    object
 37  analysis/workflow_type                              554 non-null    object
 38  analysis/analysis_id                                554 non-null    object
 39  analysis/created_datetime                           554 non-null    object
 40  platform                                            554 non-null    object
 41  file_size                                           554 non-null    int64
 42  md5sum                                              554 non-null    object
 43  file_id                                             554 non-null    object
 44  data_type                                           554 non-null    object
 45  state                                               554 non-null    object
 46  experimental_strategy                               554 non-null    object
 47  annotations/0/annotation_id                         34 non-null     object
 48  annotations/0/entity_submitter_id                   34 non-null     object
 49  annotations/0/notes                                 34 non-null     object
 50  annotations/0/entity_type                           34 non-null     object
 51  annotations/0/updated_datetime                      34 non-null     object
 52  annotations/0/submitter_id                          34 non-null     float64
 53  annotations/0/state                                 34 non-null     object
 54  annotations/0/category                              34 non-null     object
 55  annotations/0/classification                        34 non-null     object
 56  annotations/0/entity_id                             34 non-null     object
 57  annotations/0/created_datetime                      34 non-null     object
 58  annotations/0/status                                34 non-null     object
 59  annotations/0/case_id                               24 non-null     object
 60  annotations/0/case_submitter_id                     24 non-null     object
 61  annotations/1/entity_submitter_id                   3 non-null      object
 62  annotations/1/notes                                 3 non-null      object
 63  annotations/1/submitter_id                          3 non-null      float64
 64  annotations/1/classification                        3 non-null      object
 65  annotations/1/entity_id                             3 non-null      object
 66  annotations/1/created_datetime                      3 non-null      object
 67  annotations/1/annotation_id                         3 non-null      object
 68  annotations/1/entity_type                           3 non-null      object
 69  annotations/1/updated_datetime                      3 non-null      object
 70  annotations/1/case_id                               3 non-null      object
 71  annotations/1/state                                 3 non-null      object
 72  annotations/1/category                              3 non-null      object
 73  annotations/1/status                                3 non-null      object
 74  annotations/1/case_submitter_id                     3 non-null      object
dtypes: float64(4), int64(8), object(63)
memory usage: 324.7+ KB
------------------------------

Successfully extracted 'File_name' from 'file_name' column.

Dataframes merged successfully.

Successfully saved the enriched data to 'enriched_simple_data.csv'

--- Preview of the enriched data ---
         SAMPLE_ID  Unnamed: 1    PATIENT_ID  Unnamed: 3 Subtype  AR_score  \
0  TCGA-HC-7818-01         NaN  TCGA-HC-7818         NaN   1-ERG      1.04
1  TCGA-HC-7077-01         NaN  TCGA-HC-7077         NaN   1-ERG     -2.72
2  TCGA-G9-6356-01         NaN  TCGA-G9-6356         NaN   1-ERG    -10.25
3  TCGA-HC-7213-01         NaN  TCGA-HC-7213         NaN   1-ERG     -4.25
4  TCGA-KK-A6E1-01         NaN  TCGA-KK-A6E1         NaN   1-ERG     -1.27

   associated_entities/0/case_id  File_name_x File_name_y
0                            NaN          NaN         NaN
1                            NaN          NaN         NaN
2                            NaN          NaN         NaN
3                            NaN          NaN         NaN
4                            NaN          NaN         NaN

Output file saved to: c:\Users\Admin\Downloads\enriched_simple_data.csv